html{
    height: 100%;
}

body{
    height: 100%;
    margin: auto;
    color: #232D36;
    display: flex;
    flex-direction: column;
}

header{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex: 1;
    background-color:  #232D36;
    
}