html{
    height: 100%;
}

body{
    height: 100%;
    margin: auto;
    color: #9DA2A8;
    display: flex;
    flex-direction: column;
}

header{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex: 1;
    background-color:  #232D36;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

main{
    flex: 8;
    margin-left: 8px;
    margin-right: 8px;

}

footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 20rem;
    margin-left: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

h1{
    color: #9DA2A8;
    font-size: 1.25rem;
}

a{
    color: #9DA2A8;
    text-decoration:none; 
}

table{
    width: 100%;
}

td{
    border: 1px solid #232D36;
}

input{
    display: block;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0.625rem;
    margin-bottom: 8px;;
}

input[type="submit"]{
    background-color: #0DA698;
    border: 1px solid #0DA698;
    border-radius: 0.325rem;
}

.ativo{
    color: #0DA698;
}

/*

6. Subir as modificações no GitHub.
a) Adicionar todas as modificações realizadas no projeto no stage.
b) Crie um novo commit com as modificações adicionadas.
c) Enviar o commit para o branch develop do seu repositório no GitHub
*/