html, body {
    height: 100%;
    margin: 0; /* Remove margin do body */
    background-color: #FDDCEF;
    color: #50293C;
    display: flex;
    flex-direction: column;
}

header {
    padding-left: 8px;
    padding-right: 8px;
    flex: 0 0 auto;
    background-color: #50293C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1 0 auto; /* Permite que o main expanda e ocupe o espaço restante */
    padding-left: 8px;
    padding-right: 8px;
}

footer {
    flex: 0 0 auto; /* Garante que o footer não expanda */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto; /* Empurra o footer para o fim do contêiner flex */
}

footer p{
    color: #50293C;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}    