@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@300;400;600;700&display=swap");

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
}

form label,
form input,
form select,
form textarea,
form button {
  margin: 3px 0; /* Espaçamento vertical entre os campos */
}

a {
  color: #D5C5E9; 
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
}
a:hover {
  color: rgb(61, 5, 61);
}

h1 {
  color: #D5C5E9;
  font-size: 2rem;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.625rem;
}

textarea{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  display: block;
  padding: 0.625rem;
  width: 12.2rem;
}

select {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.625rem;
  margin-bottom: 8px;
  margin: 0;
  width: 13.4rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  background-color: #50293C;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #bc69dd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  font-weight: 300;
}

.link-editar {
  color: purple; 
  text-decoration: none; 
  font-size: medium;
}

.link-editar:hover {
  color: plum;
}

.link-remover {
  color: purple; 
  text-decoration: none; 
  font-size: medium;
}

.link-remover:hover {
  color:plum;
}

footer {
  flex-shrink: 0; /* Garante que o footer não encolha */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem; /* Opcional: adiciona espaçamento interno */
  background-color: #FDDCEF; /* Mantém o fundo consistente */
}