html{
    height: 100%;
    background-color: #FDDCEF;
}

* {
    box-sizing: border-box;
}

body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

header h1 {
    color: #D5C5E9;
    font-size: 2rem;
    text-align: center;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5rem;
}

header{
    display: flex;
    flex: 2;
    align-items: center;
    flex-direction: column ;
    background-color:  #50293C;
}

ul {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
   
}

a{
    color: #D5C5E9;
}

footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #50293C;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;
}


form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
}

label{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1rem;
    margin-bottom: 5px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #FDDCEF;
    border-radius: 8px;
    font-size: 1.1rem;
}

button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    color: #FDDCEF;
    background-color: #50293C;
    margin-top: 1rem;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center; 
}