html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
}


header{
    display: flex;
    justify-content: space-between;
    flex: 3;
    background-color: aqua;
}

main{
    flex: 6;
}

footer{
    flex: 1;
}

nav{
    display: flex;
    align-items: center;
}


ul{
    display: inline-flex;
    min-width: 300px;
    justify-content: space-around;
}